/*---------------------------------------
  03. Product Area
----------------------------------------*/

.pro__thumb a {
    display: block;
}

.product {
    margin-top: 70px;
    overflow: hidden;
}

.product__inner {
    position: relative;
}

.product__action {
    display: flex;
    height: 48px;
    justify-content: space-around;
    line-height: 48px;
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 2;
}

.product__action::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.product__action li a span {
    color: #666666;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    margin-top: 14px;
    display: inline-block;
}

.home-6 .product__action li a span {
    margin-top: 0px;
    font-size: 18px;
}

.home-6.popular__product--6 .product__action li {
    border-radius: 50px;
    box-shadow: none;
}

.product__action li:first-child::before {
    background: #666666 none repeat scroll 0 0;
    content: "";
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.another-product-style .product__action li::before {
    background: #666666 none repeat scroll 0 0;
    content: "";
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.another-product-style .product__action li:last-child::before {
    content: none;
}

.another-product-style .product__action {
    width: 155px;
}

.another-product-style .product__details {
    text-align: center;
}

.another-product-style .product__price {
    display: block;
}

.another-product-style .product__price li {
    display: inline-block;
}

.product__action li {
    position: relative;
    width: 50%;
}

.product__action li a span:hover {
    color: #fd3f0f;
}

.product:hover .product__hover__info {
    opacity: 1;
    top: 50%;
}

.product__hover__info {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.6s;
}

.add__to__wishlist {
    bottom: 12px;
    position: absolute;
    right: 12px;
}

.add__to__wishlist a span {
    color: #000000;
    font-size: 14px;
    transition: all 0.4s ease 0s;
}

.add__to__wishlist a span:hover {
    color: #ff4136;
}

.product__details h2 {
    color: #444444;
    font-size: 14px;
    font-weight: 500;
}

.product__details {
    padding-top: 27px;
}

.product__price {
    display: flex;
    margin-top: 9px;
}

.product__price li {
    color: #ff4136;
    font-size: 16px;
}

.product__price li.new__price {
    padding-left: 12px;
}

.product__price li.old__price {
    color: #9c9b9b;
    text-decoration: line-through;
}

.product__menu {
    text-align: center;
}

.product__menu button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #666666;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.product__filter--7 .product__menu button:first-child {
    padding-left: 0;
}

.product__filter--7 .product__menu button:last-child {
    padding-right: 0;
}

.product__menu button:hover {
    color: #ff4136;
}

.product__menu button.is-checked {
    color: #ff4136;
}


/* single product */

.product-details-style2 .product__big__images {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.product-details-style2 .product__details__container {
    display: block;
}

.product-details-style2 .product__small__images {
    margin-top: 30px;
}

.product-details-style2 .pot-small-img {
    display: inline-block;
    margin-right: 22px;
    margin-top: 0;
    width: 22%;
}

.product-details-style2 .pot-small-img:last-child {
    margin-right: 0px;
}

.product-details-style2 .product__small__images {
    min-width: inherit;
    padding-right: 0;
}

.sin-product-details-slider a>img {
    border: 1px solid #ddd;
}

.product-details-style3 .product__details__container {
    margin-right: 5px;
}

.product-details-style3 .pro__rating {
    display: block;
    padding-right: 0px;
}

.product-details-style3 .pro__dtl__btn,
.product-details-style3 .product-action-wrap,
.product-details-style3 .pro__social__share,
.product-details-style3 .pro__dtl__prize,
.product-details-style3 .pro__dtl__rating {
    display: block;
}

.product-details-style3 .pro__choose__color li,
.product-details-style3 .pro__choose__size>li,
.product-details-style3 .pro__dtl__btn li,
.product-details-style3 .pro__social__share h2,
.product-details-style3 .pro__soaial__link li,
.product-details-style3 .pro__soaial__link,
.product-details-style3 .product-quantity,
.product-details-style3 .prodict-statas,
.product-details-style3 .pro__dtl__prize li,
.product-details-style3 .pro__rating>li,
.product-details-style3 .title__5,
.product-details-style3 .pro__choose__size,
.product-details-style3 .pro__choose__color {
    display: inline-block;
}

.product-details-slider.owl-carousel .owl-nav div {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    width: 40px;
}

.product-details-slider.owl-carousel .owl-nav div.owl-prev {
    left: 0;
    right: auto;
}

.product-details-slider:hover .owl-nav div {
    opacity: 1;
}

.product-details-style3 .pro__details p {
    margin: 0 auto;
    width: 71%;
}

.single-portfolio-details {
    float: left;
    padding: 5px;
    width: 50%;
}

.single-portfolio-details a>img {
    border: 1px solid #ddd;
    width: 100%;
}

.product__details__container.product-details-5 {
    display: block;
}

.scroll-single-product>img {
    width: 100%;
}

.sidebar-active {
    will-change: min-height;
}

.sidebarinner {
    transform: translate(0, 0);
    will-change: position, transform;
}

.is-affixed .inner-wrapper-sticky {
    padding-left: 15px;
}

.product-video-position {
    position: relative;
}

.product-video {
    bottom: 0;
    left: 0;
    padding: 0 0 50px 20px;
    position: absolute;
    content: "";
    z-index: 99;
}

.product-video a {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 7px 20px 4px;
}

.product-video a i {
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.on-sale {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
}

.on-sale span {
    background-color: #ff4136;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 5px 9px;
    text-transform: capitalize;
}

.product-categories-title>h3 {
    border-left: 1px solid rgba(129, 129, 129, 0.2);
    border-right: 1px solid rgba(129, 129, 129, 0.2);
    border-top: 2px solid #ff4136;
    color: #303030;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0;
}

.product-categories-menu {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(129, 129, 129, 0.2);
    padding: 20px 0;
    width: 100%;
}

.product-categories-menu ul {
    margin: 0;
    padding: 0;
}

.product-categories-menu ul li {
    position: relative;
}

.product-categories-menu ul li a {
    background-color: #fff;
    color: #333;
    display: block;
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 7px 20px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.product-categories-menu ul li a:hover {
    color: #ff4136;
}

.product-tab-list {
    border-color: #ff4136 rgba(129, 129, 129, 0.2) rgba(129, 129, 129, 0.2);
    border-style: solid;
    border-width: 2px 1px 1px;
    padding: 20px 20px 14px;
}

.product-tab-list ul {
    margin: 0;
    padding: 0;
}

.product-tab-list ul.nav-tabs {
    border: none;
}

.product-slider-active .col-lg-4,
.product-slider-active .col-sm-4,
.product-slider-active .col-md-4,
.product-slider-active .col-xa-12 {
    width: 100%;
}

.tab-style>li {
    display: inline-block;
}

.product-slider-active .product {
    margin-top: 30px;
}

.tab-menu-text>h4 {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px 0 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0;
}

.product-tab-list ul li.active .tab-menu-text>h4,
.product-tab-list ul li .tab-menu-text>h4:hover {
    color: #ff4136;
}

a.show.active>.tab-menu-text>h4 {
    color: #ff4136 !important;
}

.product-style-tab {
    position: relative;
}

.product-slider-active.owl-carousel .owl-nav div {
    font-size: 25px;
    opacity: 1;
    position: absolute;
    right: 45px;
    text-align: center;
    top: -37px;
    transition: all 0.3s ease 0s;
    visibility: visible;
    width: 30px;
    color: #303030;
}

.product-slider-active.owl-carousel .owl-nav div:hover {
    color: #ff4136;
}

.product-slider-active.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: 20px;
}

.deal-area {
    padding-top: 96px;
}

.timer span {
    border: 1px solid #666;
    display: inline-block;
    float: left;
    font-size: 25px;
    margin-right: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

.timer span p {
    font-size: 15px;
}

.timer {
    display: block;
    margin: 30px 0;
    overflow: hidden;
    text-align: center;
}

.deal-area>h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.deal-area>p {
    font-size: 25px;
    letter-spacing: 2px;
}

.deal-area>a {
    background-color: #303030;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 12px 20px 11px;
    text-transform: uppercase;
}

.deal-area>a:hover {
    background-color: #ff4136;
}

.banner-img>img {
    width: 100%;
}

.tab-style.product-tab-list-btn {
    display: inline-block;
    float: left;
}

.all-product-btn {
    text-align: right;
}

.all-product-btn a {
    color: #303030;
    font-size: 17px;
    font-weight: 500;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.all-product-btn a:hover {
    color: #ff4136;
}

.product-slider-active2 .product {
    margin-top: 30px;
}

.tab-content.jump {
    border: none;
    padding: 20px 0 0;
}

.tab-content.jump>.tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.tab-content.jump>.tab-pane.active {
    display: block;
    height: auto;
    opacity: 1;
    overflow: visible;
}